* {
  font-family: "Poppins", sans-serif;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 50vh; */
}

.card-container {
  position: relative;
}

.card-container .card-card {
  position: relative;
  /* width: 24rem; */
  /* max-width: 16rem; */
  /* min-width: 16rem; */

  /* height: 40rem; */
  height: 100%;
  /* background: #a9a9a9; */
  /* background: #ffff; */
  border-radius: 20px;
  overflow: hidden;
}

.flag {
  /* content: ''; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  clip-path: circle(150px at 80% 20%);

  transition: 0card-5s ease-in-out;
  transition: 1s;
}

.card-container .card-card:after {
  /* content: 'Asem'; */
  position: absolute;
  top: 30%;
  left: -10%;
  font-size: 4.5em;
  font-weight: 800;
  /* font-style: italic; */
  color: rgba(255, 255, 25, 0card-05);
}

.card-container .card-card .card-imgBx {
  position: absolute;
  z-index: 40;

  top: 15%;
  /* right: 0%;
  left: 0%; */
  /* width: 100%;
  height: 100%; */

  /* right: 25%;
  left: 25%;
  width: 50%;
  height: 50%; */

  transition: 0card-5s;
  transition: 1s;
}

.card-container .card-card:hover .card-imgBx {
  top: 0%;
  -ms-transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.card-container .card-card .card-imgBx img {
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -40%) rotate(-0deg);
  -webkit-transform: translate(-50%, -40%) rotate(-0deg);
  -moz-transform: translate(-50%, -40%) rotate(-0deg);
  -o-transform: translate(-50%, -40%) rotate(-0deg);
  transform: translate(-50%, -40%) rotate(-0deg);
  width: 75%;
}

.card-container .card-card .card-contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.card-container .card-card:hover .card-contentBx {
  height: 40%;
}

.card-container .card-card .card-contentBx h2 {
  position: relative;
  font-weight: bold;
  font-weight: 900;
  letter-spacing: 1px;
  /* color: #fff; */
  /* color: black; */
  /* color: rgb(49, 49, 49); */
  margin-top: 2%;
  /* margin: 0; */
}

.card-container .card-card .card-contentBx .card-size,
.card-container .card-card .card-contentBx .card-color {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 8px 20px; */
  transition: 0card-5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: 1s;
}

.card-container .card-card:hover .card-contentBx .card-size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0card-5s;
}

.card-container .card-card:hover .card-contentBx .card-color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0card-6s;
}

.card-container .card-card .card-contentBx .card-size h3,
.card-container .card-card .card-contentBx .card-color h3 {
  color: rgb(41, 41, 41);

  font-weight: 500;
  font-size: 14px;
  margin-top: 1%;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  /* margin-right: 10px; */
}
